/** @format */

.navbarbg {
  background-color: white;
  z-index: 9999;
  min-width: 350px;
}
.navbarSearch {
  height: 5vh;
  padding-left: 2.4rem;
  margin-top: 0.15rem;
  background-color: #eef3f7;
  border: transparent;
  border-radius: 5px;
}
.searchIcon {
  position: absolute;
  bottom: 28%;
  left: 10px;
}
.forSearch {
  position: relative;
}
.premiumFree {
  color: rgb(99, 99, 19);
  line-height: 1rem;
  min-width: 150px;
}
.giveBorder {
  border-left: solid 1px rgb(184, 176, 176);
}
.iconFont {
  font-size: 19px;
  color: #666666;
}
.iconFont2 {
  font-size: 23px;
  color: #666666;
}
.iconFont1 {
  margin-left: 1.5rem;
  font-size: 20px;
  color: #666666;
}
.HomeMargin {
  margin-left: 0.35rem;
}
.giveColor {
  color: #666666;
}
.giveColor:hover {
  border-bottom: 1px solid black;
}
.marginForMe {
  margin-left: 1.2rem;
}
.marginNotif {
  margin-left: 1.4rem;
}
.marginForMessaging {
  margin-bottom: 0.2rem;
}
.giveMargin {
  margin-bottom: 0.5rem;
}
.marginForHome {
  margin-bottom: 0.45rem;
}
.marginForNotif {
  margin-bottom: 0.1rem;
}
.iconFont3 {
  color: #666666;
  font-size: 20px;
  margin-bottom: 0.1rem;
}
.giveMargin2 {
  margin-bottom: 0.5rem;
}
.iconFont5 {
  font-size: 23px;
  color: #666666;
  margin-left: 0.1rem;
}
.forHover:hover {
  color: black;
}
.logo {
  position: relative;
  height: 35px;
  left: -5px;
}
.nav-profile-image {
  height: 28px;
  border-radius: 50%;
  margin-bottom: -3px;
}
.nav-profile-image-dropdown {
  height: 45px;
  border-radius: 50%;
  margin-bottom: -3px;
}
.nav-dropdown-section01 {
  width: 100%;
  height: 70px;
  /* border-bottom: 1px solid rgb(190, 190, 190); */
}
.nav-profile-dropdown-details p {
  margin: 5px 0 5px 0;
}
.nav-profile-dropdown-details p a {
  color: #666666;
  font-size: 15px;
}

.search-dropdown {
  width: 200px;
  background-color: white;
  border: 0.5px solid rgb(207, 207, 207);
  top: 45px;
  left: 10px;
}
.nav-profile-dropdown,
.dropdown-menu {
  width: 250px;
  min-width: 250px;
  left: -170px !important;
}
@media only screen and (max-width: 800px) {
  .premiumFree small {
    display: none;
  }
}
